<!-- Cabecera & Navbar template -->
<%- include('template/cabecera', {tituloWeb: "Detalle mascota"}); %>
    <%- include('template/navbar'); %>
        <div class="container">
            <div class="contenedor-img d-flex justify-content-center">
                <img data-aos="fade-right" class="w-25" src="/img/mascotas/detalles/img_detalles-p.jpg" alt="">
            </div>
            <h1 data-aos="fade-up" class="text-secondary">Detalle Mascotas</h1>

            <% if (error) { %>
                <p>

                    <%= mensaje %>

                </p>
                <a href="/Mascotas" class="btn btn-dark btn-block">Volver a Mascotas</a>

                <% } %>

                    <% if (!error) { %>

                        <form id="editar" data-id="<%= mascota.id %>">
                            <input type="text" value="<%= mascota.nombre %>" class="form-control my-2" name="nombre" id="nombreInput">
                            <input type="text" value="<%= mascota.raza %>" class="form-control my-2" name="raza" id="razaInput">
                            <input type="text" value="<%= mascota.sexo %>" class="form-control my-2" name="sexo" id="sexoInput">
                            <button class="btn btn-warning btn-block" type="submit">
                                Editar
                            </button>
                        </form>
                        <hr>
                        <button id="btnEliminarMascota" class="btn btn-danger btn-sm" data-id="<%= mascota.id %>">
                            Eliminar
                        </button>



                        <% } %>
        </div>

        <script src="/js/btnActionFormMascotas.js"></script>

        <%- include("template/footer")  %>